{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix --allow-empty-input", "prettier --write"],
  "*.{vue,html}": [
    "stylelint --fix --allow-empty-input",
    "eslint --fix",
    "prettier --write"
  ],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"],
  "*.md": ["prettier --write"]
}
