.q-picker-dropdown {
  padding: 16px;
  background-color: var(--color-tertiary-white);
  border-radius: var(--border-radius-base);
  outline: none;
  box-shadow: var(--box-shadow-dropdown);

  &__base {
    display: flex;
  }

  &__footer {
    display: flex;
    margin-top: 16px;
  }

  &__input {
    width: 223px;
    margin-right: auto;
  }
}
