.q-divider {
  display: flex;
  align-items: center;
  margin: 16px 0;
  border-color: var(--color-border);

  &_direction_horizontal {
    width: 100%;
    border-top-width: 1px;

    &.q-divider_style_solid {
      border-top-style: solid;
    }

    &.q-divider_style_dashed {
      border-top-style: dashed;
    }

    &.q-divider_style_dotted {
      border-top-style: dotted;
    }

    &:not(.q-divider_with-text)::before {
      display: block;
      width: 100%;
      content: '';
      border-top: inherit;
    }

    &.q-divider_with-text {
      &::before,
      &::after {
        flex: 1;
        content: '';
        border-top: inherit;
      }
    }
  }

  &_direction_vertical {
    display: inline-block;
    width: 1px;
    height: 1em;
    margin: 0 8px;
    vertical-align: middle;
    border-left-width: 1px;

    &.q-divider_style_solid {
      border-left-style: solid;
    }

    &.q-divider_style_dashed {
      border-left-style: dashed;
    }

    &.q-divider_style_dotted {
      border-left-style: dotted;
    }
  }

  &_content_left::before {
    flex: 0 0 5% !important;
  }

  &_content_right::after {
    flex: 0 0 5% !important;
  }

  &__text {
    padding: 0 16px;
    font-size: var(--font-size-base);
    color: var(--color-text-muted);
    white-space: nowrap;
  }
}
