.q-text {
  font-size: var(--font-size-base);

  &_type_default {
    color: var(--color-text-regular);
  }

  &_type_secondary {
    color: var(--color-text-muted);
  }

  &_type_success {
    color: var(--color-success);
  }

  &_type_warning {
    color: var(--color-warning);
  }

  &_type_danger {
    color: var(--color-danger);
  }
}

.q-paragraph {
  margin: 0 0 12px;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text-regular);

  &_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
