.q-tooltip-trigger {
  display: inline-flex;
  max-width: 100%;
}

.q-tooltip {
  max-width: 280px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: var(--font-weight-base);
  line-height: 16px;
  overflow-wrap: break-word;
  border-radius: var(--border-radius-base);

  &_effect {
    &_dark {
      color: #fff;
      background-color: rgb(var(--color-rgb-blue) / 92%);
      box-shadow: var(--box-shadow-secondary);
    }

    &_light {
      color: var(--color-text-regular);
      background-color: var(--color-tertiary-white);
      border: var(--border-base);
      box-shadow: var(--box-shadow-dropdown);
    }
  }
}
