.q-context {
  &-menu {
    min-width: 150px;
    overflow: hidden;
    background-color: var(--color-tertiary-white);
    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow-dropdown);

    &__icon {
      margin-right: 16px;
      font-size: 24px;
    }

    &__item {
      position: relative;
      display: flex;
      width: 100%;
      padding: 12px 24px;
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-base);
      line-height: 24px;
      color: var(--color-text-regular);
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
      background-color: var(--color-tertiary-white);
      border: none;

      &_with-icon {
        padding-right: 50px;
        padding-left: 24px;
      }

      &:hover,
      &:focus {
        position: relative;
        z-index: 1;
        color: var(--color-primary);
        background-color: var(--color-primary-lighter);
        outline: none;
      }
    }
  }

  &-trigger {
    display: inline-block;

    &__button {
      display: block;
      width: 40px;
      height: 40px;
      padding: 0;
      font-size: 24px;
      color: var(--color-primary-blue);
      cursor: pointer;
      background-color: transparent;
      border: none;
      border-radius: 100%;
      outline: none;

      &:hover,
      &[data-focus-visible-added] {
        color: var(--color-primary-black);
        background-color: rgb(var(--color-rgb-gray) / 16%);
      }
    }
  }
}
