.q-breadcrumbs {
  max-width: 100%;

  &__list {
    display: inline-grid;
    grid-auto-flow: column;
    align-items: baseline;
    max-width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-flex;
    align-items: baseline;
    min-width: 0;
  }

  &__divider {
    position: relative;
    top: 5px;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 24px;
    color: rgb(var(--color-rgb-gray) / 32%);
  }

  &__crumb {
    overflow: hidden;
    font-size: 24px;
    font-weight: 800;
    line-height: 31px;
    color: var(--color-primary-blue);
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus {
      text-decoration: underline;
    }
  }

  &__item:only-child &__crumb_last {
    color: var(--color-primary-black);
  }

  &__item:not(:first-child) &__crumb_exact-active,
  &__item:not(:first-child) &__crumb_last {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-base);
    color: var(--color-primary-black);
    cursor: default;
  }
}
