.q-color-svpanel {
  position: relative;
  width: 100%;
  min-width: 464px;
  height: 208px;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
  }

  &::before {
    background-image: linear-gradient(
      90deg,
      var(--color-tertiary-white),
      transparent
    );
  }

  &::after {
    background-image: linear-gradient(0deg, #000, transparent);
  }

  &__cursor {
    position: absolute;
    z-index: 1;
    width: 8px;
    height: 8px;
    cursor: grab;
    background-color: var(--color-tertiary-white);
    border-radius: 50%;
    box-shadow: 0 0 0 1.5px #fff, 0 1px 4px rgb(var(--color-rgb-shadow) / 40%);
    transform: translate(-4px, -4px);
  }
}
