.q-tree {
  padding: 0;
  margin: 0;
  list-style: none;

  &__node-content {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: var(--border-radius-base);

    &:hover {
      background-color: var(--color-primary-lighter);
    }
  }

  &__node_disabled .q-tree__node-content {
    color: var(--color-text-muted);
    cursor: not-allowed;
  }

  &__expand-icon {
    flex-shrink: 0;
    width: 16px;
    font-size: 12px;
    color: var(--color-text-muted);

    &_placeholder {
      visibility: hidden;
    }
  }

  &__label {
    font-size: var(--font-size-base);
    color: var(--color-text-regular);
  }

  &__children {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
